.custom-primary {
  color: #7e22ce; /* Replace with your desired color */
  text-decoration: none;
  background: #ffffff;
   /* Replace with your desired color */
}
.custom-primary:hover {
  color: #5a0d9d; /* Replace with your desired color */
  /* Replace with your desired color */
}
.custom-btn{
  color: #ffffff;
  background-color: #7e22ce;
  font-weight: bold;
  border: 1px ;
  cursor: pointer;

}
.custom-btn:hover{
  background-color: #5a0d9d;
}
*{
  background-color: #ffffff;
  /* background-color: black; */
  
}
 /* Flex container styles */
 .flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* Left container styles */
.left-container {
  flex: 3;
  background-color: #ffffff;
  /* background-color: black; */
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
}

/* Right container styles */
.right-container {
  max-height: 100vh;
  overflow-y: scroll;
  flex: 1;
  background-color: #ffffff;
  /* background-color: black; */
  box-sizing: border-box;
}

/* Responsive layout for small devices */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .left-container{
    flex: 1;
    overflow-y: scroll;
  }
  .right-container {
    flex: 1;
    overflow-y: scroll;
  }
}





video {
  
  width: 100%;
  height: 100%;
  object-fit:fill;
}



